<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Calories counter</display-name>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.github.ko4evneg.caloriesApp.web.UserServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MealServlet</servlet-name>
        <servlet-class>com.github.ko4evneg.caloriesApp.web.MealServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>MealServlet</servlet-name>
        <url-pattern>/meals</url-pattern>
        <url-pattern>/meal</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>
</web-app>